<header class="modal-header">
  <h2>Welcome to Employee List</h2>
</header>
<article>
  <section>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit nemo aliquid
    obcaecati repellendus, ea officiis dolore eaque delectus consectetur vel,
    quas porro corrupti quos, voluptatem molestiae asperiores aperiam placeat
    quibusdam.
  </section>
  <section>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias
    assumenda earum in distinctio debitis aperiam fugit voluptate culpa
    praesentium pariatur quam ex, eius, ab quae nisi maxime, aliquam facere
    eveniet!
  </section>
</article>
