<!-- <app-temp-ref-var></app-temp-ref-var>
<app-temp-ref-var-form></app-temp-ref-var-form>-->
<!-- <app-for-class-style></app-for-class-style> -->
<!-- <app-structural-directive></app-structural-directive> -->
<!-- <app-two-way-data-binding></app-two-way-data-binding> -->

<!--
   FOR ROUTING HTML CODE STARTS HERE 
<div class="container">
  <h1>Angular Routing and Navigation</h1>
  <nav>
    <a
      href="javascript:void(0)"
      class="btn btn-sm btn-primary"
      [routerLink]="'/departments'"
      >Departments</a
    >
    |
    <a
      href="javascript:void(0)"
      class="btn btn-sm btn-primary"
      [routerLink]="'/employees'"
      >Employees</a
    >
  </nav>
  // TO Show The Routed View
  <router-outlet></router-outlet>
</div>
 
FOR ROUTING HTML CODE ENDS HERE-->

<app-api-consume></app-api-consume>
