<header class="modal-header">
  <h2>Welcome to Department List</h2>
</header>
<article>
  <section>The following Departments are currently available with us</section>
  <section>Please choose from the following-</section>
</article>

<ul class="list-group">
  <li
    (click)="show(d)"
    *ngFor="let d of departments"
    class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
  >
    {{ d.name }}
    <span class="badge badge-primary badge-pill">&#x20B9; {{ d.fees }}</span>
  </li>
</ul>
